<div class="container">
    <br/>
    <br/>
    <br/>
<div class="jumbotron">
  <h1 class="display-5">A compra foi feita com sucesso</h1>
 
  <hr class="my-4">
   <p class="lead">Detalhes da compra</p>
  <p>External_reference: {{external_reference}}</p>
  <p>Preference_id: {{preference_id}}</p>
  <p>Collection_id: {{collection_id}}</p>
  <p>Collection_status: {{collection_status}}</p>
  <p>Payment_id: {{payment_id}}</p>
  <p>Status: {{status}}</p>
  <p>Payment_type: {{payment_type}}</p>
  <p>Merchant_order_id: {{merchant_order_id}}</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">PROSSEGUIR</a>
</div>
</div>

<script src="https://www.mercadopago.com/v2/security.js" view=""></script> 